{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      "error",
      80
    ],
    "func-names": "off",
    "consistent-return": "off",
    "no-throw-literal": "off"
  },
  "settings": {
    "import/resolver": {}
  }
}